@charset "UTF-8";
body {
	
}

h1{
	font-family: 'Playfair Display', serif;
	color: white;
	font-style: italic;
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
	margin: 0px;
}

h2{
	font-family: 'Playfair Display', serif;
	color: white;
	font-style: italic;
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
	margin: 0px;
}

h3{
	font-style: italic;
    font-size: 1.875rem;
    line-height: 1.6;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

p{
	font-family: 'Open Sans',sans-serif;
	font-size: 1rem;
    line-height: 1.6;
}



.banner{
    background-image: url("Activity6/img/pexels-photo-1251247.jpeg");
	min-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu{
	display: flex;
	margin: auto;
}

.about{
	display: flex;
	width: 80%;
	align-items: center;
	margin: 400px auto 0;
	align-content: space-between;
}

h4{
	letter-spacing: 0px;
/*    line-height: 1.4;*/
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: none;
/*    margin: 32px auto 0;*/
}
    

.about-title{
	width: 30%;
	margin: 0 30px 0 0;
}

.about-info{
	padding: 40px 20px;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	width:70%;
}

.plain-pink{
	padding: 70px 150px;
	color: #ffffff;
    background-color: #d9b1b3;
}

.pink-section2{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ffffff;
    background-color: #d9b1b3;
}

.pink-section2 h2{
	padding: 50px 0 0 0;
}

.text-section1{
	margin-right: 400px;
}

.plain-pink h3{
	margin-right: 100px;
}

/*
.image-display{
	display: flex;
	width: 100%;
}

.img-gallery{
	width: 33.3%;
}

.image-display img{
	width: 100%;
	height: 400px;
}
*/

.gallery img{
	width:500px;
	height:749px;
	object-fit: cover;
}

div.gallery {
  margin: 0px;
  border: 0px solid #ccc;
  float: left;
  width: 469.5px;
}

div.gallery:hover {
  border: 0px;
}

div.gallery img {
  width: 100%;
  height: 600px;
	object-fit: cover;
}

/*
.row:after {
  	content: "";
  	display: table;
  	clear: both;
	
}
*/

.signup{
/*	width: 60%;*/
	display: flex;
	align-items: center;
	margin: auto auto 50px;
}

.signup .input-box{
	width: 250px;
	background: #FFFFFF;
	margin: 5px 10px;
	border-radius: 50px;
	border-width: 2px;
	border-style: solid;
	height: 40px;
}

.signup .input-box input[type="text"]{
	width: 80%;
	border: 2px solid #FFFFFF;
	padding: 0 10px;
	border-radius: 50px;
	height: 30px;
	font-size: 1rem;
}

.submit-row input{
	width: 150px;
	height: 40px;
/*	left: 393px;*/
	background: #000000;
	border: 2px solid #000000;
	/*box-sizing: border-box;*/
	border-radius: 50px;
	color: white;
	font-size: 1rem;
	margin: 10px;
}

.white-section{
	width: 80%;
	display: flex;
	margin: 50px auto;
}

.image-section{
	width: 40%;
}

.text-section2{
	width: 60%;
/*	margin: 100px 0;*/
}

.image-section img{
	width: 400px;
	object-fit: cover;
}

.text-section2 p{
	font-size: 1.25rem;
	margin: 100px 2px 0 0;
	text-align: justify;
}

.text-section2 img{
	width: 300px;
}

.pink-section3{
	padding: 70px 0px;
	color: #ffffff;
    background-color: #d9b1b3;
/*	height: 100vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.collection img{
	width:250px;
	height:333px;
	padding-top: 20px;
}

div.collection {
  margin: 0px 5px;
  border: 0px solid #ccc;
  float: left;
/*  width: 469.5px;*/
}

div.collection:hover {
  border: 0px;
}

.sample{
	width: 80%;
	display: flex;
	align-items: center;
	margin: 50px auto;
	color: black;
}

.sample-images{
	width: 60%;
}

.sample-text{
	width: 40%;
	margin-right: 50px;
	margin-left: 20px;
}

.add-cart input{
	width: 200px;
	height: 40px;
/*	left: 393px;*/
	background: #000000;
	border: 2px solid #000000;
	/*box-sizing: border-box;*/
	border-radius: 50px;
	color: white;
	font-size: 1rem;
	margin: 10px;
}

.sample h4{
	font-size: 2.5rem;
	font-weight: 500;
	padding: 0px;
	margin: 20px 0px;
}

.sample-images img{
	width:304px;
	height:360px;
	padding-top: 20px;
	margin-right: 10px;
	object-fit: cover;
/*
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
*/
}

.subscribe{
	color: black;
	width: 100%;
	display: flex;
}

.subscribe-image{
	width: 50%;
	background: url("../img/pexels-photo-7766563.jpeg");
	height: auto;
}

.background-image-effect{
	object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.subscribe-text{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 100px 60px 100px;
}

.subscribe-text h2{
	color: black;
}

.subscribe-form{
/*	width: 60%;*/
	display: flex;
	align-items: center;
	margin: auto auto 20px ;
}

.subscribe-form .input-box{
	width: 300px;
	background: #FFFFFF;
	margin: 80px 10px 0;
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color:#565656;
	height: 40px;
}

.subscribe-form .input-box input[type="text"]{
	width: 80%;
	border: 2px solid #FFFFFF;
	padding: 0 10px;
	border-radius: 0px;
	height: 30px;
	font-size: 1rem;
}

.submit input{
	width: 120px;
	height: 40px;
/*	left: 393px;*/
	background: #000000;
	border: 2px solid #000000;
	/*box-sizing: border-box;*/
	border-radius: 50px;
	color: white;
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}
.subscribe-text hr{
	height: 10px;
	background-color: #d9b1b3;
	width: 100%;
	border: 0;
}

.sample a:link {
  text-decoration: none;
	color: black;
}

.subscribe-text p{
	width: 50%;
	text-align: center;
	font-size: 0.9rem
}

.socials{
	margin:20px 0px;
}

.footer{
	width: 100%;
	color: #ffffff;
    background-color: #333333;
	margin: 0px 0;
	padding: 50px 0 0;
}

.footer p{
	width: 417px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
	padding: 0px;
	text-align: center;
	font-size: 0.8rem;
}

.backlink{
	width: 100%;
	color: #ffffff;
    background-color: #333333;
	margin: 0px 0;
	padding: 50px 0 50px;
}

.backlink p{
	width: 417px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
	padding: 0px;
	text-align: center;
	font-size: 0.8rem;
}

.backlink a:link {
  text-decoration: none;
	color: #adcce9;
}
/*
div.collection img {
  width: 100%;
  height: 600px;
}*/
